---
const pageLinks = [
  { name: "Home", link: "/" },
  { name: "About", link: "/about" },
  { name: "Project", link: "/project" },
  { name: "Blog", link: "/blog" },
];
---

<footer
  class="mt-auto border-t border-zinc-200 bg-white py-4 text-center dark:border-zinc-800 dark:bg-zinc-900 print:hidden"
>
  <div class="container space-y-4 md:flex md:items-center md:justify-between md:space-y-0">
    <div class="items-conter flex justify-center gap-4 md:justify-start">
      {
        pageLinks.map(({ name, link }) => (
          <a
            href={link}
            class="text-sm text-zinc-600 transition-colors active:text-blue-600 dark:text-zinc-400 lg:text-base"
          >
            {name}
          </a>
        ))
      }
    </div>
    <p class="text-xs font-light text-zinc-600 dark:text-zinc-400 lg:text-sm">
      Made with <span class="text-red-600">&hearts;</span> by Vatsal Sakariya
    </p>
  </div>
</footer>
