---
const pageLinks = [
  { name: "Home", link: "/" },
  { name: "About", link: "/about" },
  { name: "Project", link: "/project" },
  { name: "Blog", link: "/blog" },
];

const socialLinks = [
  { name: "GitHub", link: "https://github.com/vatsal0601" },
  {
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/vatsal-sakariya",
  },
  { name: "Twitter", link: "https://twitter.com/vatsal0601" },
  { name: "Instagram", link: "https://www.instagram.com/vatsal_sakariya" },
];
---

<footer
  class="mt-auto space-y-3 border-t border-zinc-200 bg-white py-3 text-center dark:border-zinc-800 dark:bg-zinc-900 print:hidden"
>
  <div class="flex justify-evenly">
    <div class="flex flex-col space-y-3">
      {
        pageLinks.map(({ name, link }) => (
          <a
            href={link}
            class="text-sm text-zinc-600 transition-colors active:text-blue-600 dark:text-zinc-400 lg:text-base"
          >
            {name}
          </a>
        ))
      }
    </div>
    <div class="flex flex-col space-y-3">
      {
        socialLinks.map(({ name, link }) => (
          <a
            target="_blank"
            rel="noopener noreferrer"
            href={link}
            class="text-sm text-zinc-600 transition-colors active:text-blue-600 dark:text-zinc-400 lg:text-base"
          >
            {name}
          </a>
        ))
      }
    </div>
  </div>
  <p class="text-sm font-light text-zinc-600 dark:text-zinc-400 lg:text-base">
    &#169; Vatsal Sakariya
  </p>
</footer>
